body {
  display:grid;
}

h1 {
  text-align: center;
}

#pokedex {
  display:grid;
  height: 300px;
  width: 300px;
  padding-right: 100px;
  place-self: center;
}

#sprite {
  place-self: center;
  padding-left: 100px;
}
